html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.wrapper {
    margin: 0 auto;
    background-color: #da9e9e;
    max-width: 800px;
    min-height: 100vh;
    width: 100%;
    box-shadow: 0 0 5px #00000040;
}

header {
    height: 40px;
    background-color: #daca9e;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    font-size: 12px;
    margin: 3px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    background-color: #b9e2ff;
    padding: 15px;
    top: 40px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 0 6px #0000002e;
}

form>* {
    margin-bottom: 7px;
    max-width: 280px;
    width: 100%;
    padding: 3px 10px;
}

form>button {
    width: fit-content;
    margin-top: 10px;
    cursor: pointer;
}

.error {
    color: red;
}

.content {
    background-color: antiquewhite;
    margin: 5px;
    padding: 5px;
}

p.info {
    background-color: #ffce93;
    padding: 5px;
    border-radius: 3px;
}

pre.code {
    font-size: 12px;
    font-family: monospace;
    padding: 10px;
    border: 1px solid #959595;
    margin: 10px;
}

.info.result {
    background-color: #a8efa8;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    margin: 5px;
    padding: 5px;
}

table td {
    padding: 3px;
    font-size: 12px;
}